* {
  box-sizing: border-box;
}

/* Colors
Blue: #00A1DE  // rgb(0,161,222)
Yellow: #FAD201 // rgb(250,210,1)
Green: #20603D;
*/

html, body {
  margin: 0;
  padding: 0;
}

/* While Loading */
.bar {
  position: fixed;
  top: 45vh;
  width: 30px;
  height: 4px;
  margin-left: -15px;
}

#blueBar {
  background-color: #00A1DE;
  left: calc(50vw - 35px);
}

#yellowBar {
  background-color: #FAD201;
  left: 50vw;
}

#greenBar {
  background-color: #20603D;
  left: calc(50vw + 35px);
}

.loading {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map */
#map {
  width: 100vw;
  height: 100vh;
}

/* Info Window */
.infowindow {
  max-width: 280px;
}

.infowindow-name {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #20603D;
  margin: 0 0 6px 0;
}

.no-url {
  text-decoration: none;
  color: #20603D;
}

.no-url:hover {
     cursor: unset;
}

.infowindow-img {
  display: block;
  width: 120px;
  margin: 0px 6px 0 0;
  float: left;
}

.infowindow-description {
  margin: -2px 0 0 0;
}

/* Menu */
#menu {
  position: fixed;
  top: 3vh;
  left: 50vw;
  width: 300px;
  margin-left: -150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Hamburger */
#hamburger {
  width: 30px;
  height: 35px;
  background-color: #FAD201;
  border-radius: 4px;
}

.hamburger-icon {
  margin: 11px 8px;
  width: 14px;
  height: 3px;
  background: #00A1DE;
  box-shadow:
    0 5px 0 0 #00A1DE,
    0 10px 0 0 #00A1DE;
}

/* Search bar */
#search-bar {
  height: 35px;
  width: 270px;
  color: #bbb;
  /* 16px disables auto-zoom on iPhone input */
  font-size: 16px;
  border: initial;
  text-align: center;
  border: 2px solid #FAD201;
  border-radius: 4px;
}

#search-bar:focus {
  color: black;
  outline-color: #20603d;
  outline-style: dashed;
  outline-width: medium;
  text-align: left;
}

/* List view */
#list-view {
  position: relative;
  background: white;
  overflow: scroll;
  max-height: 85vh;
}

.list-item {
  display: flex;
  align-items: center;
  border-right: 2px solid #FAD201;
  border-bottom: 2px solid #FAD201;
  border-left: 2px solid #FAD201;
  padding: 3px;
}

.highlighted {
  background-color: rgba(250,210,1,0.6);
}

.list-item-name {
  text-align: center;
  font-weight: bold;
  font-size: small;
  width: 124px;
}

.list-item-img {
  width: 120px;
}